In [4]:
import pandas as pd
import numpy as np

In [5]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [6]:
import warnings
warnings.filterwarnings('ignore')

In [44]:
df = pd.read_csv("../pipeline_data/Export_Verbruik_2010-2019_anon.csv")

In [45]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

columns_eng = ["CONSUMPTION_ID","CONSUMPTION_OBJECT_ID","CONSUMPTION_START_DATE",
               "CONSUMPTION_END_DATE","CONSUMPTION_ESTRATED_YN","CONSUMPTION","POSTCODE","CITY","OBJECT_TYPE_NAME"]

df.columns = columns_eng

In [47]:
#df_test = df[df.CONSUMPTION_OBJECT_ID == '0x00007D66B6B07398948077754DB6EFA778CE11ED'] 

df_test = df[df.CONSUMPTION_ID == '0x6C416AE66696A91A697B0BCDE57A92D0C215F031'] 

df_test2 = df[df.CONSUMPTION_OBJECT_ID == '0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C']

df_test3 = df[df.CONSUMPTION_OBJECT_ID == '0xDB167AEA8E65359DE2F24606950E29E68C380ED8']

In [32]:
df_test

,CONSUMPTION_ID,CONSUMPTION_OBJECT_ID,CONSUMPTION_START_DATE,CONSUMPTION_END_DATE,CONSUMPTION_ESTRATED_YN,CONSUMPTION,POSTCODE,CITY,OBJECT_TYPE_NAME
2288552,0x6C416AE66696A91A697B0BCDE57A92D0C215F031,0x00007D66B6B07398948077754DB6EFA778CE11ED,2018-01-01,2018-12-05,N,170.0,1092,AMSTERDAM,HHB

In [36]:
df_test2

,CONSUMPTION_ID,CONSUMPTION_OBJECT_ID,CONSUMPTION_START_DATE,CONSUMPTION_END_DATE,CONSUMPTION_ESTRATED_YN,CONSUMPTION,POSTCODE,CITY,OBJECT_TYPE_NAME
3695651,0x378391D81055E53E56D88B32639EA0F219C3CFC3,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2009-03-21,2010-01-01,N,27.0,1181,AMSTELVEEN,NaN
3695652,0xF3CF781BD9ACD5B36FB3C2DFA5B9B677A951D008,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2010-01-01,2010-07-09,N,0.0,1181,AMSTELVEEN,NaN
3695653,0xF9D999DC7D0FE8AE60EB52086B43EBF0FDEC06ED,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2010-01-01,2010-07-17,N,0.0,1181,AMSTELVEEN,HHB
3695654,0x77834BC91D8F1C9FD47636543452C5385CD15318,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2010-07-17,2010-08-15,J,14.0,1181,AMSTELVEEN,HHB
3695655,0x59EF4731A03A6A11BD401204BEA5E183EEFEA91F,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2010-08-15,2010-12-15,N,12.0,1181,AMSTELVEEN,HHB
3695656,0xE51602F6AC29981183BECCE0FCD9843E28230B58,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2010-12-15,2011-12-20,N,31.0,1181,AMSTELVEEN,HHB
3695657,0x64F2F1C74AC79BD416A9DB5F3FA80DBAFD7CF65F,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2011-12-20,2012-12-02,N,137.0,1181,AMSTELVEEN,HHB
3695658,0xF5C345B2005FEDD643A375B699BAA29B7FE5BFD5,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2012-12-02,2013-12-08,J,146.0,1181,AMSTELVEEN,HHB
3695659,0x9C5BA4C210D3A6B292A8E78A9FB6524F98288974,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2013-12-08,2014-12-15,J,146.0,1181,AMSTELVEEN,HHB
3695660,0x37CA8155DC2DC6EF2C8AA194A0639B427FDA4630,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2014-12-15,2015-12-15,N,-264.0,1181,AMSTELVEEN,HHB
3695661,0x479E8C90C7DB146F5996116BF470684409F6E89E,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2015-12-15,2016-12-14,N,38.0,1181,AMSTELVEEN,HHB
3695662,0x4C32727B950B3A624A5F69EFCF9BF4C8C926563E,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2016-12-14,2018-01-03,N,41.0,1181,AMSTELVEEN,HHB
3695663,0xE04FE68FE78FF00886682BA50E0D904D0B4A4928,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2018-01-03,2019-01-04,N,47.0,1181,AMSTELVEEN,HHB

In [48]:
df_test3

,CONSUMPTION_ID,CONSUMPTION_OBJECT_ID,CONSUMPTION_START_DATE,CONSUMPTION_END_DATE,CONSUMPTION_ESTRATED_YN,CONSUMPTION,POSTCODE,CITY,OBJECT_TYPE_NAME
2357820,0x8DABE842BEC6CA21B70E9FCFBCF3DFD94D6C8DBA,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2009-10-18,2010-10-18,N,79.0,1083,AMSTERDAM,HHB
2357821,0x8FA4FAD49A38BD1B0FB3BBB00DD0803338204396,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2010-10-18,2011-10-18,N,100.0,1083,AMSTERDAM,HHB
2357822,0x5777EDD908744B95FF8D965D172DEC74C9A11A27,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2011-10-18,2012-10-08,N,88.0,1083,AMSTERDAM,HHB
2357823,0x57B8F05491AAE9F28774940B0812BDB4BA6CD972,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2012-10-08,2013-10-08,N,86.0,1083,AMSTERDAM,HHB
2357824,0x7F1045C296AA32C2CD5085260C69C1E200DEC8E6,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2013-10-08,2014-09-26,N,0.0,1083,AMSTERDAM,HHB
2357825,0xF4B8BBC0CFD40A5DF23C4103FAE7EF1116631641,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2014-09-26,2014-11-20,J,8.0,1083,AMSTERDAM,HHB
2357826,0x6E0ACA2AFABB9087CA0CC7EBCB467887176D9F5D,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2014-11-20,2015-05-11,N,-4.0,1083,AMSTERDAM,HHB
2357827,0xBD32C2EEAD4BED826924FB9D114F0A16FC469F22,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2015-05-11,2015-05-19,N,0.0,1083,AMSTERDAM,HHB
2357828,0x276CF3F993E22804E0EC4264430E510DC1714039,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2015-05-19,2015-11-12,J,103.0,1083,AMSTERDAM,HHB
2357829,0x921C51B3E31C210B7438E79B65EE825E2902F1F4,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2015-11-12,2016-01-01,N,-24.0,1083,AMSTERDAM,HHB
2357830,0x87ED08A7244F24167905376D4E5F42DA5E847DA7,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2016-01-01,2016-09-30,N,113.0,1083,AMSTERDAM,HHB
2357831,0x3250FF449A6D8C1688397377B2B9ABFB34FABE26,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2016-09-30,2016-11-17,J,20.0,1083,AMSTERDAM,HHB
2357832,0x6A0C0A59023DAED8EB1B2DF5FFA5523CF8506237,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2016-11-17,2016-12-31,N,14.0,1083,AMSTERDAM,HHB
2357833,0x2928EFA05C17F3D9F9BBD2D310F9F322621542A2,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2016-12-31,2017-01-06,N,0.0,1083,AMSTERDAM,HHB
2357834,0x9AD6E674FA1C3DD28DD91742F9E14C9B9087AB50,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2017-01-06,2017-07-03,N,81.0,1083,AMSTERDAM,HHB
2357835,0x6BC56B9C9B6FFEB32EB0D693814DD3FB3176DB2D,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2017-07-03,2017-08-20,N,0.0,1083,AMSTERDAM,HHB
2357836,0xD8ED0E5024D6E118B8437AC436351B8E973C54FC,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2017-08-20,2017-11-27,J,14.0,1083,AMSTERDAM,HHB
2357837,0x3009817ADCF6EADD84D9C1782EF350EB05077D24,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2017-11-27,2018-11-07,N,66.0,1083,AMSTERDAM,HHB
2357838,0xE22B4E8FCA0D44449B1D2E8AC9891D581F04E11D,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2018-11-07,2019-11-08,N,89.0,1083,AMSTERDAM,HHB

In [15]:
#df[df.CONSUMPTION_OBJECT_ID == '0x00026648D4100D1E690DD04AACA66B15459F2859']

In [49]:
df = df_test3
df['CONSUMPTION_START_DATE'] = df['CONSUMPTION_START_DATE'].apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d'))
df['CONSUMPTION_END_DATE'] = df['CONSUMPTION_END_DATE'].apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d'))

In [24]:
df

,CONSUMPTION_ID,CONSUMPTION_OBJECT_ID,CONSUMPTION_START_DATE,CONSUMPTION_END_DATE,CONSUMPTION_ESTRATED_YN,CONSUMPTION,POSTCODE,CITY,OBJECT_TYPE_NAME,period,consumption_per_day
2288536,0x0F4ED26E66A2DF74B660C548EC1576F1253FD1AE,0x00007D66B6B07398948077754DB6EFA778CE11ED,2009-12-01,2010-11-12,N,99.0,1092,AMSTERDAM,HHB,346,0.286127
2288537,0x520A495C9177D22AE6A7981BDFD20A08328EBE78,0x00007D66B6B07398948077754DB6EFA778CE11ED,2010-11-12,2010-12-09,N,0.0,1092,AMSTERDAM,HHB,27,0.000000
2288538,0xF0CABC68DE3AE6347EA4B1F62538C1D6BD5A6A36,0x00007D66B6B07398948077754DB6EFA778CE11ED,2010-12-09,2011-08-02,N,45.0,1092,AMSTERDAM,HHB,236,0.190678
2288539,0xE749041DBA88B5286F97DC4CB90AE23B1B55ED74,0x00007D66B6B07398948077754DB6EFA778CE11ED,2011-08-02,2011-08-16,N,1.0,1092,AMSTERDAM,HHB,14,0.071429
2288540,0xF4EB1CA82C2EA45F0EFA76A8C1583A9420FB3D7F,0x00007D66B6B07398948077754DB6EFA778CE11ED,2011-08-16,2011-12-22,J,19.0,1092,AMSTERDAM,HHB,128,0.148438
2288541,0xD27A81B605AB5C9867CA295CFAC0A0B224AC2A17,0x00007D66B6B07398948077754DB6EFA778CE11ED,2011-12-22,2012-12-06,N,123.0,1092,AMSTERDAM,HHB,350,0.351429
2288542,0xAE6CF75279F09650EACC517DB8FF974C33CE011B,0x00007D66B6B07398948077754DB6EFA778CE11ED,2012-12-06,2012-12-27,N,1.0,1092,AMSTERDAM,HHB,21,0.047619
2288543,0x937CC5925B03FACF40C81ECA472369119B63C150,0x00007D66B6B07398948077754DB6EFA778CE11ED,2012-12-27,2013-11-06,N,47.0,1092,AMSTERDAM,HHB,314,0.149682
2288544,0x1377E860B05B58A1DD662C7CB69F56B4F050E8F6,0x00007D66B6B07398948077754DB6EFA778CE11ED,2013-11-06,2014-11-07,N,50.0,1092,AMSTERDAM,HHB,366,0.136612
2288545,0x09EF338AC5D8D708C3BE96B974E89099986A7103,0x00007D66B6B07398948077754DB6EFA778CE11ED,2014-11-07,2015-08-07,N,37.0,1092,AMSTERDAM,HHB,273,0.135531
2288546,0xD80D69BC8C1B6C01C2DD4A9599342E1C0D1573CD,0x00007D66B6B07398948077754DB6EFA778CE11ED,2015-08-07,2015-08-17,N,0.0,1092,AMSTERDAM,HHB,10,0.000000
2288547,0x4B786CF30B32F847DC1DE341D1C1FA67FEA6FD93,0x00007D66B6B07398948077754DB6EFA778CE11ED,2015-08-17,2015-12-17,J,18.0,1092,AMSTERDAM,HHB,122,0.147541
2288548,0xE79543C91ED6044E79AE5286E43EC62DF1C609FB,0x00007D66B6B07398948077754DB6EFA778CE11ED,2015-12-17,2016-12-15,J,53.0,1092,AMSTERDAM,HHB,364,0.145604
2288549,0x9890047240D85CD415083675639E9C26CE33C136,0x00007D66B6B07398948077754DB6EFA778CE11ED,2016-12-15,2017-05-02,J,20.0,1092,AMSTERDAM,HHB,138,0.144928
2288550,0x125F20B4B33EE385A926A3F53ECF71609A8E22D9,0x00007D66B6B07398948077754DB6EFA778CE11ED,2017-05-02,2017-12-20,J,33.0,1092,AMSTERDAM,HHB,232,0.142241
2288551,0xA1F69C09F2600FFC76A8AB18DF9DB0F7655E0965,0x00007D66B6B07398948077754DB6EFA778CE11ED,2017-12-20,2018-01-01,N,0.0,1092,AMSTERDAM,HHB,12,0.000000
2288552,0x6C416AE66696A91A697B0BCDE57A92D0C215F031,0x00007D66B6B07398948077754DB6EFA778CE11ED,2018-01-01,2018-12-05,N,170.0,1092,AMSTERDAM,HHB,338,0.502959
2288553,0xE97FA28AEEF179CBE25B7224246E3411BD2BED59,0x00007D66B6B07398948077754DB6EFA778CE11ED,2018-12-05,2018-12-20,J,4.0,1092,AMSTERDAM,HHB,15,0.266667
2288554,0xF80CFBC095DBBB471F7A93216B21DD596F3B411F,0x00007D66B6B07398948077754DB6EFA778CE11ED,2018-12-20,2019-02-27,N,50.0,1092,AMSTERDAM,HHB,69,0.724638
2288555,0x2C108FD6146CD3D85B51B1F500956AB5D7E85CA0,0x00007D66B6B07398948077754DB6EFA778CE11ED,2019-02-27,2019-12-18,N,137.0,1092,AMSTERDAM,HHB,294,0.465986

In [38]:
df

,CONSUMPTION_ID,CONSUMPTION_OBJECT_ID,CONSUMPTION_START_DATE,CONSUMPTION_END_DATE,CONSUMPTION_ESTRATED_YN,CONSUMPTION,POSTCODE,CITY,OBJECT_TYPE_NAME
3695651,0x378391D81055E53E56D88B32639EA0F219C3CFC3,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2009-03-21,2010-01-01,N,27.0,1181,AMSTELVEEN,NaN
3695652,0xF3CF781BD9ACD5B36FB3C2DFA5B9B677A951D008,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2010-01-01,2010-07-09,N,0.0,1181,AMSTELVEEN,NaN
3695653,0xF9D999DC7D0FE8AE60EB52086B43EBF0FDEC06ED,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2010-01-01,2010-07-17,N,0.0,1181,AMSTELVEEN,HHB
3695654,0x77834BC91D8F1C9FD47636543452C5385CD15318,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2010-07-17,2010-08-15,J,14.0,1181,AMSTELVEEN,HHB
3695655,0x59EF4731A03A6A11BD401204BEA5E183EEFEA91F,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2010-08-15,2010-12-15,N,12.0,1181,AMSTELVEEN,HHB
3695656,0xE51602F6AC29981183BECCE0FCD9843E28230B58,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2010-12-15,2011-12-20,N,31.0,1181,AMSTELVEEN,HHB
3695657,0x64F2F1C74AC79BD416A9DB5F3FA80DBAFD7CF65F,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2011-12-20,2012-12-02,N,137.0,1181,AMSTELVEEN,HHB
3695658,0xF5C345B2005FEDD643A375B699BAA29B7FE5BFD5,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2012-12-02,2013-12-08,J,146.0,1181,AMSTELVEEN,HHB
3695659,0x9C5BA4C210D3A6B292A8E78A9FB6524F98288974,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2013-12-08,2014-12-15,J,146.0,1181,AMSTELVEEN,HHB
3695660,0x37CA8155DC2DC6EF2C8AA194A0639B427FDA4630,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2014-12-15,2015-12-15,N,-264.0,1181,AMSTELVEEN,HHB
3695661,0x479E8C90C7DB146F5996116BF470684409F6E89E,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2015-12-15,2016-12-14,N,38.0,1181,AMSTELVEEN,HHB
3695662,0x4C32727B950B3A624A5F69EFCF9BF4C8C926563E,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2016-12-14,2018-01-03,N,41.0,1181,AMSTELVEEN,HHB
3695663,0xE04FE68FE78FF00886682BA50E0D904D0B4A4928,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2018-01-03,2019-01-04,N,47.0,1181,AMSTELVEEN,HHB

In [50]:
df

,CONSUMPTION_ID,CONSUMPTION_OBJECT_ID,CONSUMPTION_START_DATE,CONSUMPTION_END_DATE,CONSUMPTION_ESTRATED_YN,CONSUMPTION,POSTCODE,CITY,OBJECT_TYPE_NAME
2357820,0x8DABE842BEC6CA21B70E9FCFBCF3DFD94D6C8DBA,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2009-10-18,2010-10-18,N,79.0,1083,AMSTERDAM,HHB
2357821,0x8FA4FAD49A38BD1B0FB3BBB00DD0803338204396,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2010-10-18,2011-10-18,N,100.0,1083,AMSTERDAM,HHB
2357822,0x5777EDD908744B95FF8D965D172DEC74C9A11A27,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2011-10-18,2012-10-08,N,88.0,1083,AMSTERDAM,HHB
2357823,0x57B8F05491AAE9F28774940B0812BDB4BA6CD972,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2012-10-08,2013-10-08,N,86.0,1083,AMSTERDAM,HHB
2357824,0x7F1045C296AA32C2CD5085260C69C1E200DEC8E6,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2013-10-08,2014-09-26,N,0.0,1083,AMSTERDAM,HHB
2357825,0xF4B8BBC0CFD40A5DF23C4103FAE7EF1116631641,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2014-09-26,2014-11-20,J,8.0,1083,AMSTERDAM,HHB
2357826,0x6E0ACA2AFABB9087CA0CC7EBCB467887176D9F5D,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2014-11-20,2015-05-11,N,-4.0,1083,AMSTERDAM,HHB
2357827,0xBD32C2EEAD4BED826924FB9D114F0A16FC469F22,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2015-05-11,2015-05-19,N,0.0,1083,AMSTERDAM,HHB
2357828,0x276CF3F993E22804E0EC4264430E510DC1714039,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2015-05-19,2015-11-12,J,103.0,1083,AMSTERDAM,HHB
2357829,0x921C51B3E31C210B7438E79B65EE825E2902F1F4,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2015-11-12,2016-01-01,N,-24.0,1083,AMSTERDAM,HHB
2357830,0x87ED08A7244F24167905376D4E5F42DA5E847DA7,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2016-01-01,2016-09-30,N,113.0,1083,AMSTERDAM,HHB
2357831,0x3250FF449A6D8C1688397377B2B9ABFB34FABE26,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2016-09-30,2016-11-17,J,20.0,1083,AMSTERDAM,HHB
2357832,0x6A0C0A59023DAED8EB1B2DF5FFA5523CF8506237,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2016-11-17,2016-12-31,N,14.0,1083,AMSTERDAM,HHB
2357833,0x2928EFA05C17F3D9F9BBD2D310F9F322621542A2,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2016-12-31,2017-01-06,N,0.0,1083,AMSTERDAM,HHB
2357834,0x9AD6E674FA1C3DD28DD91742F9E14C9B9087AB50,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2017-01-06,2017-07-03,N,81.0,1083,AMSTERDAM,HHB
2357835,0x6BC56B9C9B6FFEB32EB0D693814DD3FB3176DB2D,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2017-07-03,2017-08-20,N,0.0,1083,AMSTERDAM,HHB
2357836,0xD8ED0E5024D6E118B8437AC436351B8E973C54FC,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2017-08-20,2017-11-27,J,14.0,1083,AMSTERDAM,HHB
2357837,0x3009817ADCF6EADD84D9C1782EF350EB05077D24,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2017-11-27,2018-11-07,N,66.0,1083,AMSTERDAM,HHB
2357838,0xE22B4E8FCA0D44449B1D2E8AC9891D581F04E11D,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2018-11-07,2019-11-08,N,89.0,1083,AMSTERDAM,HHB

In [51]:
df['period'] = df['CONSUMPTION_END_DATE'] - df['CONSUMPTION_START_DATE']
df['period'] = df['period'].dt.days
df['consumption_per_day'] = df['CONSUMPTION'] / df['period']

df1 = pd.concat([pd.Series(r.CONSUMPTION_ID,pd.date_range(r.CONSUMPTION_START_DATE, r.CONSUMPTION_END_DATE, freq='YS')) 
         for r in df.itertuples()]).reset_index()
df1.columns = ['CONSUMPTION_START_DATE','CONSUMPTION_ID']

df2 = (pd.concat([df[['CONSUMPTION_ID','CONSUMPTION_START_DATE']], df1], sort=False, ignore_index=True)
 .sort_values(['CONSUMPTION_ID','CONSUMPTION_START_DATE'])
 .reset_index(drop=True))

mask = df2['CONSUMPTION_ID'].duplicated(keep='last')
s = df2['CONSUMPTION_ID'].map(df.set_index('CONSUMPTION_ID')['CONSUMPTION_END_DATE'])
df2['CONSUMPTION_END_DATE'] = np.where(mask, df2['CONSUMPTION_START_DATE'] + pd.offsets.YearEnd(), s)

df_values = df[['CONSUMPTION_ID','CONSUMPTION_OBJECT_ID','consumption_per_day']]
df_categories = df.drop(['CONSUMPTION_START_DATE','CONSUMPTION_END_DATE','period','CONSUMPTION','consumption_per_day','CONSUMPTION_ID'],axis=1)
df_categories = df_categories.groupby(['CONSUMPTION_OBJECT_ID']).first().reset_index()

consumption_yearly = df2.merge(df_values,on='CONSUMPTION_ID',how='left')
consumption_yearly['days'] = consumption_yearly['CONSUMPTION_END_DATE'] - consumption_yearly['CONSUMPTION_START_DATE']
consumption_yearly['days'] = consumption_yearly['days'].dt.days
consumption_yearly['CONSUMPTION'] = consumption_yearly['days'] * consumption_yearly['consumption_per_day']
consumption_yearly['year'] = consumption_yearly['CONSUMPTION_START_DATE'].dt.year
consumption_yearly.drop(consumption_yearly[consumption_yearly['CONSUMPTION_START_DATE'].dt.year < 2010].index,inplace=True)

In [27]:
consumption_yearly.sort_values(['CONSUMPTION_START_DATE'])

,CONSUMPTION_ID,CONSUMPTION_START_DATE,CONSUMPTION_END_DATE,CONSUMPTION_OBJECT_ID,consumption_per_day,days,CONSUMPTION,year
3,0x0F4ED26E66A2DF74B660C548EC1576F1253FD1AE,2010-01-01,2010-11-12,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.286127,315,90.130058,2010
9,0x520A495C9177D22AE6A7981BDFD20A08328EBE78,2010-11-12,2010-12-09,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.000000,27,0.000000,2010
26,0xF0CABC68DE3AE6347EA4B1F62538C1D6BD5A6A36,2010-12-09,2010-12-31,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.190678,22,4.194915,2010
27,0xF0CABC68DE3AE6347EA4B1F62538C1D6BD5A6A36,2011-01-01,2011-08-02,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.190678,213,40.614407,2011
22,0xE749041DBA88B5286F97DC4CB90AE23B1B55ED74,2011-08-02,2011-08-16,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.071429,14,1.000000,2011
28,0xF4EB1CA82C2EA45F0EFA76A8C1583A9420FB3D7F,2011-08-16,2011-12-22,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.148438,128,19.000000,2011
19,0xD27A81B605AB5C9867CA295CFAC0A0B224AC2A17,2011-12-22,2011-12-31,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.351429,9,3.162857,2011
20,0xD27A81B605AB5C9867CA295CFAC0A0B224AC2A17,2012-01-01,2012-12-06,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.351429,340,119.485714,2012
18,0xAE6CF75279F09650EACC517DB8FF974C33CE011B,2012-12-06,2012-12-27,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.047619,21,1.000000,2012
12,0x937CC5925B03FACF40C81ECA472369119B63C150,2012-12-27,2012-12-31,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.149682,4,0.598726,2012
13,0x937CC5925B03FACF40C81ECA472369119B63C150,2013-01-01,2013-11-06,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.149682,309,46.251592,2013
5,0x1377E860B05B58A1DD662C7CB69F56B4F050E8F6,2013-11-06,2013-12-31,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.136612,55,7.513661,2013
6,0x1377E860B05B58A1DD662C7CB69F56B4F050E8F6,2014-01-01,2014-11-07,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.136612,310,42.349727,2014
0,0x09EF338AC5D8D708C3BE96B974E89099986A7103,2014-11-07,2014-12-31,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.135531,54,7.318681,2014
1,0x09EF338AC5D8D708C3BE96B974E89099986A7103,2015-01-01,2015-08-07,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.135531,218,29.545788,2015
21,0xD80D69BC8C1B6C01C2DD4A9599342E1C0D1573CD,2015-08-07,2015-08-17,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.000000,10,0.000000,2015
8,0x4B786CF30B32F847DC1DE341D1C1FA67FEA6FD93,2015-08-17,2015-12-17,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.147541,122,18.000000,2015
23,0xE79543C91ED6044E79AE5286E43EC62DF1C609FB,2015-12-17,2015-12-31,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.145604,14,2.038462,2015
24,0xE79543C91ED6044E79AE5286E43EC62DF1C609FB,2016-01-01,2016-12-15,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.145604,349,50.815934,2016
14,0x9890047240D85CD415083675639E9C26CE33C136,2016-12-15,2016-12-31,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.144928,16,2.318841,2016
15,0x9890047240D85CD415083675639E9C26CE33C136,2017-01-01,2017-05-02,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.144928,121,17.536232,2017
4,0x125F20B4B33EE385A926A3F53ECF71609A8E22D9,2017-05-02,2017-12-20,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.142241,232,33.000000,2017
16,0xA1F69C09F2600FFC76A8AB18DF9DB0F7655E0965,2017-12-20,2017-12-31,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.000000,11,0.000000,2017
11,0x6C416AE66696A91A697B0BCDE57A92D0C215F031,2018-01-01,2018-12-05,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.502959,338,170.000000,2018
10,0x6C416AE66696A91A697B0BCDE57A92D0C215F031,2018-01-01,2018-12-31,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.502959,364,183.076923,2018
17,0xA1F69C09F2600FFC76A8AB18DF9DB0F7655E0965,2018-01-01,2018-01-01,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.000000,0,0.000000,2018
25,0xE97FA28AEEF179CBE25B7224246E3411BD2BED59,2018-12-05,2018-12-20,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.266667,15,4.000000,2018
29,0xF80CFBC095DBBB471F7A93216B21DD596F3B411F,2018-12-20,2018-12-31,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.724638,11,7.971014,2018
30,0xF80CFBC095DBBB471F7A93216B21DD596F3B411F,2019-01-01,2019-02-27,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.724638,57,41.304348,2019
7,0x2C108FD6146CD3D85B51B1F500956AB5D7E85CA0,2019-02-27,2019-12-18,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.465986,294,137.000000,2019

In [40]:
consumption_yearly.sort_values(['CONSUMPTION_START_DATE'])

,CONSUMPTION_ID,CONSUMPTION_START_DATE,CONSUMPTION_END_DATE,CONSUMPTION_OBJECT_ID,consumption_per_day,days,CONSUMPTION,year
1,0x378391D81055E53E56D88B32639EA0F219C3CFC3,2010-01-01,2010-01-01,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.094406,0,0.000000,2010
20,0xF3CF781BD9ACD5B36FB3C2DFA5B9B677A951D008,2010-01-01,2010-07-09,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.000000,189,0.000000,2010
19,0xF3CF781BD9ACD5B36FB3C2DFA5B9B677A951D008,2010-01-01,2010-12-31,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.000000,364,0.000000,2010
23,0xF9D999DC7D0FE8AE60EB52086B43EBF0FDEC06ED,2010-01-01,2010-12-31,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.000000,364,0.000000,2010
24,0xF9D999DC7D0FE8AE60EB52086B43EBF0FDEC06ED,2010-01-01,2010-07-17,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.000000,197,0.000000,2010
12,0x77834BC91D8F1C9FD47636543452C5385CD15318,2010-07-17,2010-08-15,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.482759,29,14.000000,2010
9,0x59EF4731A03A6A11BD401204BEA5E183EEFEA91F,2010-08-15,2010-12-15,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.098361,122,12.000000,2010
17,0xE51602F6AC29981183BECCE0FCD9843E28230B58,2010-12-15,2010-12-31,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.083784,16,1.340541,2010
18,0xE51602F6AC29981183BECCE0FCD9843E28230B58,2011-01-01,2011-12-20,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.083784,353,29.575676,2011
10,0x64F2F1C74AC79BD416A9DB5F3FA80DBAFD7CF65F,2011-12-20,2011-12-31,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.393678,11,4.330460,2011
11,0x64F2F1C74AC79BD416A9DB5F3FA80DBAFD7CF65F,2012-01-01,2012-12-02,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.393678,336,132.275862,2012
21,0xF5C345B2005FEDD643A375B699BAA29B7FE5BFD5,2012-12-02,2012-12-31,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.393531,29,11.412399,2012
22,0xF5C345B2005FEDD643A375B699BAA29B7FE5BFD5,2013-01-01,2013-12-08,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.393531,341,134.194070,2013
13,0x9C5BA4C210D3A6B292A8E78A9FB6524F98288974,2013-12-08,2013-12-31,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.392473,23,9.026882,2013
14,0x9C5BA4C210D3A6B292A8E78A9FB6524F98288974,2014-01-01,2014-12-15,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.392473,348,136.580645,2014
2,0x37CA8155DC2DC6EF2C8AA194A0639B427FDA4630,2014-12-15,2014-12-31,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,-0.723288,16,-11.572603,2014
3,0x37CA8155DC2DC6EF2C8AA194A0639B427FDA4630,2015-01-01,2015-12-15,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,-0.723288,348,-251.704110,2015
4,0x479E8C90C7DB146F5996116BF470684409F6E89E,2015-12-15,2015-12-31,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.104110,16,1.665753,2015
5,0x479E8C90C7DB146F5996116BF470684409F6E89E,2016-01-01,2016-12-14,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.104110,348,36.230137,2016
6,0x4C32727B950B3A624A5F69EFCF9BF4C8C926563E,2016-12-14,2016-12-31,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.106494,17,1.810390,2016
7,0x4C32727B950B3A624A5F69EFCF9BF4C8C926563E,2017-01-01,2017-12-31,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.106494,364,38.763636,2017
8,0x4C32727B950B3A624A5F69EFCF9BF4C8C926563E,2018-01-01,2018-01-03,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.106494,2,0.212987,2018
15,0xE04FE68FE78FF00886682BA50E0D904D0B4A4928,2018-01-03,2018-12-31,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.128415,362,46.486339,2018
16,0xE04FE68FE78FF00886682BA50E0D904D0B4A4928,2019-01-01,2019-01-04,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.128415,3,0.385246,2019

In [52]:
consumption_yearly.sort_values(['CONSUMPTION_START_DATE'])

,CONSUMPTION_ID,CONSUMPTION_START_DATE,CONSUMPTION_END_DATE,CONSUMPTION_OBJECT_ID,consumption_per_day,days,CONSUMPTION,year
19,0x8DABE842BEC6CA21B70E9FCFBCF3DFD94D6C8DBA,2010-01-01,2010-10-18,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.216438,290,62.767123,2010
20,0x8FA4FAD49A38BD1B0FB3BBB00DD0803338204396,2010-10-18,2010-12-31,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.273973,74,20.273973,2010
21,0x8FA4FAD49A38BD1B0FB3BBB00DD0803338204396,2011-01-01,2011-10-18,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.273973,290,79.452055,2011
6,0x5777EDD908744B95FF8D965D172DEC74C9A11A27,2011-10-18,2011-12-31,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.247191,74,18.292135,2011
7,0x5777EDD908744B95FF8D965D172DEC74C9A11A27,2012-01-01,2012-10-08,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.247191,281,69.460674,2012
8,0x57B8F05491AAE9F28774940B0812BDB4BA6CD972,2012-10-08,2012-12-31,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.235616,84,19.791781,2012
9,0x57B8F05491AAE9F28774940B0812BDB4BA6CD972,2013-01-01,2013-10-08,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.235616,280,65.972603,2013
14,0x7F1045C296AA32C2CD5085260C69C1E200DEC8E6,2013-10-08,2013-12-31,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.000000,84,0.000000,2013
15,0x7F1045C296AA32C2CD5085260C69C1E200DEC8E6,2014-01-01,2014-09-26,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.000000,268,0.000000,2014
29,0xF4B8BBC0CFD40A5DF23C4103FAE7EF1116631641,2014-09-26,2014-11-20,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.145455,55,8.000000,2014
12,0x6E0ACA2AFABB9087CA0CC7EBCB467887176D9F5D,2014-11-20,2014-12-31,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,-0.023256,41,-0.953488,2014
13,0x6E0ACA2AFABB9087CA0CC7EBCB467887176D9F5D,2015-01-01,2015-05-11,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,-0.023256,130,-3.023256,2015
25,0xBD32C2EEAD4BED826924FB9D114F0A16FC469F22,2015-05-11,2015-05-19,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.000000,8,0.000000,2015
0,0x276CF3F993E22804E0EC4264430E510DC1714039,2015-05-19,2015-11-12,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.581921,177,103.000000,2015
22,0x921C51B3E31C210B7438E79B65EE825E2902F1F4,2015-11-12,2015-12-31,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,-0.480000,49,-23.520000,2015
23,0x921C51B3E31C210B7438E79B65EE825E2902F1F4,2016-01-01,2016-01-01,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,-0.480000,0,-0.000000,2016
16,0x87ED08A7244F24167905376D4E5F42DA5E847DA7,2016-01-01,2016-12-31,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.413919,365,151.080586,2016
17,0x87ED08A7244F24167905376D4E5F42DA5E847DA7,2016-01-01,2016-09-30,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.413919,273,113.000000,2016
5,0x3250FF449A6D8C1688397377B2B9ABFB34FABE26,2016-09-30,2016-11-17,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.416667,48,20.000000,2016
10,0x6A0C0A59023DAED8EB1B2DF5FFA5523CF8506237,2016-11-17,2016-12-31,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.318182,44,14.000000,2016
1,0x2928EFA05C17F3D9F9BBD2D310F9F322621542A2,2016-12-31,2017-12-31,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.000000,365,0.000000,2016
2,0x2928EFA05C17F3D9F9BBD2D310F9F322621542A2,2017-01-01,2017-01-06,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.000000,5,0.000000,2017
24,0x9AD6E674FA1C3DD28DD91742F9E14C9B9087AB50,2017-01-06,2017-07-03,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.455056,178,81.000000,2017
11,0x6BC56B9C9B6FFEB32EB0D693814DD3FB3176DB2D,2017-07-03,2017-08-20,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.000000,48,0.000000,2017
26,0xD8ED0E5024D6E118B8437AC436351B8E973C54FC,2017-08-20,2017-11-27,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.141414,99,14.000000,2017
3,0x3009817ADCF6EADD84D9C1782EF350EB05077D24,2017-11-27,2017-12-31,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.191304,34,6.504348,2017
4,0x3009817ADCF6EADD84D9C1782EF350EB05077D24,2018-01-01,2018-11-07,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.191304,310,59.304348,2018
27,0xE22B4E8FCA0D44449B1D2E8AC9891D581F04E11D,2018-11-07,2018-12-31,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.243169,54,13.131148,2018
28,0xE22B4E8FCA0D44449B1D2E8AC9891D581F04E11D,2019-01-01,2019-11-08,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.243169,311,75.625683,2019

In [22]:
consumption_yearly_grouped = consumption_yearly.groupby(['CONSUMPTION_OBJECT_ID','year']).sum().reset_index()
consumption_yearly_grouped = consumption_yearly_grouped.merge(df_categories, on='CONSUMPTION_OBJECT_ID',how='left')
consumption_yearly_grouped

,CONSUMPTION_OBJECT_ID,year,consumption_per_day,days,CONSUMPTION,CONSUMPTION_ESTRATED_YN,POSTCODE,CITY,OBJECT_TYPE_NAME
0,0x00007D66B6B07398948077754DB6EFA778CE11ED,2010,0.476805,364,94.324973,N,1092,AMSTERDAM,HHB
1,0x00007D66B6B07398948077754DB6EFA778CE11ED,2011,0.761973,364,63.777264,N,1092,AMSTERDAM,HHB
2,0x00007D66B6B07398948077754DB6EFA778CE11ED,2012,0.548729,365,121.084440,N,1092,AMSTERDAM,HHB
3,0x00007D66B6B07398948077754DB6EFA778CE11ED,2013,0.286294,364,53.765254,N,1092,AMSTERDAM,HHB
4,0x00007D66B6B07398948077754DB6EFA778CE11ED,2014,0.272143,364,49.668408,N,1092,AMSTERDAM,HHB
5,0x00007D66B6B07398948077754DB6EFA778CE11ED,2015,0.428677,364,49.584249,N,1092,AMSTERDAM,HHB
6,0x00007D66B6B07398948077754DB6EFA778CE11ED,2016,0.290532,365,53.134775,N,1092,AMSTERDAM,HHB
7,0x00007D66B6B07398948077754DB6EFA778CE11ED,2017,0.287169,364,50.536232,N,1092,AMSTERDAM,HHB
8,0x00007D66B6B07398948077754DB6EFA778CE11ED,2018,1.997222,728,365.047938,N,1092,AMSTERDAM,HHB
9,0x00007D66B6B07398948077754DB6EFA778CE11ED,2019,1.190624,351,178.304348,N,1092,AMSTERDAM,HHB

In [41]:
consumption_yearly_grouped = consumption_yearly.groupby(['CONSUMPTION_OBJECT_ID','year']).sum().reset_index()
consumption_yearly_grouped = consumption_yearly_grouped.merge(df_categories, on='CONSUMPTION_OBJECT_ID',how='left')
consumption_yearly_grouped

,CONSUMPTION_OBJECT_ID,year,consumption_per_day,days,CONSUMPTION,CONSUMPTION_ESTRATED_YN,POSTCODE,CITY,OBJECT_TYPE_NAME
0,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2010,0.759309,1281,27.340541,N,1181,AMSTELVEEN,HHB
1,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2011,0.477462,364,33.906135,N,1181,AMSTELVEEN,HHB
2,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2012,0.787209,365,143.688261,N,1181,AMSTELVEEN,HHB
3,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2013,0.786004,364,143.220952,N,1181,AMSTELVEEN,HHB
4,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2014,-0.330815,364,125.008042,N,1181,AMSTELVEEN,HHB
5,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2015,-0.619178,364,-250.038356,N,1181,AMSTELVEEN,HHB
6,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2016,0.210603,365,38.040527,N,1181,AMSTELVEEN,HHB
7,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2017,0.106494,364,38.763636,N,1181,AMSTELVEEN,HHB
8,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2018,0.234909,364,46.699326,N,1181,AMSTELVEEN,HHB
9,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2019,0.128415,3,0.385246,N,1181,AMSTELVEEN,HHB

In [53]:
consumption_yearly_grouped = consumption_yearly.groupby(['CONSUMPTION_OBJECT_ID','year']).sum().reset_index()
consumption_yearly_grouped = consumption_yearly_grouped.merge(df_categories, on='CONSUMPTION_OBJECT_ID',how='left')
consumption_yearly_grouped

,CONSUMPTION_OBJECT_ID,year,consumption_per_day,days,CONSUMPTION,CONSUMPTION_ESTRATED_YN,POSTCODE,CITY,OBJECT_TYPE_NAME
0,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2010,0.490411,364,83.041096,N,1083,AMSTERDAM,HHB
1,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2011,0.521164,364,97.744190,N,1083,AMSTERDAM,HHB
2,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2012,0.482807,365,89.252455,N,1083,AMSTERDAM,HHB
3,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2013,0.235616,364,65.972603,N,1083,AMSTERDAM,HHB
4,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2014,0.122199,364,7.046512,N,1083,AMSTERDAM,HHB
5,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2015,0.078665,364,76.456744,N,1083,AMSTERDAM,HHB
6,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2016,1.082687,1095,298.080586,N,1083,AMSTERDAM,HHB
7,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2017,0.787775,364,101.504348,N,1083,AMSTERDAM,HHB
8,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2018,0.434474,364,72.435495,N,1083,AMSTERDAM,HHB
9,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2019,0.243169,311,75.625683,N,1083,AMSTERDAM,HHB