In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime, timezone, timedelta
import time
from itertools import chain, product

In [2]:
# Default settings
pd.options.display.max_columns = None
%matplotlib inline
sns.set(style="darkgrid")
random_seed = 42

In [17]:
years = np.arange(2010, 2021).tolist()
object_types = ['HHB', 'HHO', 'GZB', 'KZB', 'KZO']
regions = ['A Centrum', 'B Westpoort', 'E West', 'F Nieuw-West', 'K Zuid', 'M Oost', 'T Zuidoost',\
    'Amstelveen', 'Diemen', 'Heemstede', 'Muiden', 'Ouder-Amstel', 'Schiphol']
years, object_types, regions

([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020],
 ['HHB', 'HHO', 'GZB', 'KZB', 'KZO'],
 ['A Centrum',
  'B Westpoort',
  'E West',
  'F Nieuw-West',
  'K Zuid',
  'M Oost',
  'T Zuidoost',
  'Amstelveen',
  'Diemen',
  'Heemstede',
  'Muiden',
  'Ouder-Amstel',
  'Schiphol'])

In [21]:
idx = pd.MultiIndex.from_product([years, object_types, regions], names=['Year', 'Object_type', 'Region'])
idx

MultiIndex([(2010, 'HHB',    'A Centrum'),
            (2010, 'HHB',  'B Westpoort'),
            (2010, 'HHB',       'E West'),
            (2010, 'HHB', 'F Nieuw-West'),
            (2010, 'HHB',       'K Zuid'),
            (2010, 'HHB',       'M Oost'),
            (2010, 'HHB',   'T Zuidoost'),
            (2010, 'HHB',   'Amstelveen'),
            (2010, 'HHB',       'Diemen'),
            (2010, 'HHB',    'Heemstede'),
            ...
            (2020, 'KZO', 'F Nieuw-West'),
            (2020, 'KZO',       'K Zuid'),
            (2020, 'KZO',       'M Oost'),
            (2020, 'KZO',   'T Zuidoost'),
            (2020, 'KZO',   'Amstelveen'),
            (2020, 'KZO',       'Diemen'),
            (2020, 'KZO',    'Heemstede'),
            (2020, 'KZO',       'Muiden'),
            (2020, 'KZO', 'Ouder-Amstel'),
            (2020, 'KZO',     'Schiphol')],
           names=['Year', 'Object_type', 'Region'], length=715)

In [22]:
df = pd.DataFrame(index=idx).reset_index()
df

     Year Object_type        Region
0    2010         HHB     A Centrum
1    2010         HHB   B Westpoort
2    2010         HHB        E West
3    2010         HHB  F Nieuw-West
4    2010         HHB        K Zuid
..    ...         ...           ...
710  2020         KZO        Diemen
711  2020         KZO     Heemstede
712  2020         KZO        Muiden
713  2020         KZO  Ouder-Amstel
714  2020         KZO      Schiphol

[715 rows x 3 columns]

In [26]:
df.to_csv('../data/input_features.csv')