In [1]:
import pandas as pd
import numpy as np

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [54]:
df = pd.read_csv("../../pipeline_data/Export_Verbruik_2010-2019_anon.csv")

In [55]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

columns_eng = ["CONSUMPTION_ID","CONSUMPTION_OBJECT_ID","CONSUMPTION_START_DATE",
               "CONSUMPTION_END_DATE","CONSUMPTION_ESTRATED_YN","CONSUMPTION","POSTCODE","CITY","OBJECT_TYPE_NAME"]

df.columns = columns_eng

In [56]:
#df_test = df[df.CONSUMPTION_OBJECT_ID == '0x00007D66B6B07398948077754DB6EFA778CE11ED'] 

df_test = df[df.CONSUMPTION_OBJECT_ID ==  '0x647A1A69C8B52855DC5F0350ECEE37B6F297C906']         #'0x6C416AE66696A91A697B0BCDE57A92D0C215F031'] 

df_test2 = df[df.CONSUMPTION_OBJECT_ID == '0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C']

df_test3 = df[df.CONSUMPTION_OBJECT_ID == '0xDB167AEA8E65359DE2F24606950E29E68C380ED8']

In [57]:
df_test

,CONSUMPTION_ID,CONSUMPTION_OBJECT_ID,CONSUMPTION_START_DATE,CONSUMPTION_END_DATE,CONSUMPTION_ESTRATED_YN,CONSUMPTION,POSTCODE,CITY,OBJECT_TYPE_NAME
1633165,0x78F1B3C363A4E66B07237D05D2913596B90AFE4D,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2009-12-23,2010-12-28,J,912.0,1043,AMSTERDAM,KZB
1633166,0xF6F3AB792F1E2576DC3062ADA94983DBC9F036BD,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2010-12-28,2011-11-18,N,662.0,1043,AMSTERDAM,KZB
1633167,0x6D656567842B054A721EA5CCDE76C1D8CC9C9D83,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2011-11-18,2012-10-29,N,368.0,1043,AMSTERDAM,KZB
1633168,0x1632B9A9D1A06DBB7B325BC77153D4B7B463012B,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2012-10-29,2012-12-01,J,10.0,1043,AMSTERDAM,KZB
1633169,0xA87140077B4C4BA6AE9ECECB52035E07BC136EAC,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2012-12-01,2013-12-01,J,96.0,1043,AMSTERDAM,KZB
1633170,0xF4110347D7671FE913A6959DECB580D941193FB2,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2013-12-01,2014-12-01,J,96.0,1043,AMSTERDAM,KZB
1633171,0x2AAE3BFF514EEAE835A2CA411303B5BA39F67C2C,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2014-12-01,2015-12-31,N,113.0,1043,AMSTERDAM,KZB
1633172,0x007AAD731A00FFECD1B3538C3AB3B97ABE0CF99C,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2015-12-31,2016-07-27,N,147.0,1043,AMSTERDAM,KZB
1633173,0x8DE6CB81DC3B5D6D20B188610D9DA703F1AD07EA,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2016-07-27,2016-07-28,N,0.0,1043,AMSTERDAM,KZB
1633174,0x836D7F06F6FE6A9642C829F95AE831BB4DD41CC7,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2016-07-28,2016-12-01,J,516.0,1043,AMSTERDAM,KZB
1633175,0x06BC4829D1B824E42BBB97E33514687974F49F8B,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2016-12-01,2016-12-15,N,-503.0,1043,AMSTERDAM,KZB
1633176,0xC05E65EFDF56E348A5DD5084BB06BBF4CCC49D2C,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2016-12-15,2017-11-28,N,159.0,1043,AMSTERDAM,KZB
1633177,0x4E5B2C666554E3D763F2B5F5B63E9F4035CFFABB,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2017-11-28,2018-09-17,N,336.0,1043,AMSTERDAM,KZB
1633178,0x57805E4184C4F5FE0C67585BDB82C45F16C2877D,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2018-09-17,2018-12-20,J,14.0,1043,AMSTERDAM,KZB
1633179,0xFE03FEE51E8541180AE2E7892E0E73A811A1ECB4,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2018-12-20,2019-09-16,N,693.0,1043,AMSTERDAM,KZB
1633180,0xBEF1B1A3321AED12447198F810F91D87373C6228,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2019-09-16,2019-09-17,N,0.0,1043,AMSTERDAM,KZB
1633181,0x9F26C23D2FB24C07B550F082E3AFAAFBABB416F1,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2019-09-17,2019-12-01,J,54.0,1043,AMSTERDAM,KZB

In [39]:
#df_test2

In [40]:
#df_test3

In [15]:
#df[df.CONSUMPTION_OBJECT_ID == '0x00026648D4100D1E690DD04AACA66B15459F2859']

In [58]:
df = df_test
df['CONSUMPTION_START_DATE'] = df['CONSUMPTION_START_DATE'].apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d'))
df['CONSUMPTION_END_DATE'] = df['CONSUMPTION_END_DATE'].apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d'))

In [59]:
df

,CONSUMPTION_ID,CONSUMPTION_OBJECT_ID,CONSUMPTION_START_DATE,CONSUMPTION_END_DATE,CONSUMPTION_ESTRATED_YN,CONSUMPTION,POSTCODE,CITY,OBJECT_TYPE_NAME
1633165,0x78F1B3C363A4E66B07237D05D2913596B90AFE4D,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2009-12-23,2010-12-28,J,912.0,1043,AMSTERDAM,KZB
1633166,0xF6F3AB792F1E2576DC3062ADA94983DBC9F036BD,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2010-12-28,2011-11-18,N,662.0,1043,AMSTERDAM,KZB
1633167,0x6D656567842B054A721EA5CCDE76C1D8CC9C9D83,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2011-11-18,2012-10-29,N,368.0,1043,AMSTERDAM,KZB
1633168,0x1632B9A9D1A06DBB7B325BC77153D4B7B463012B,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2012-10-29,2012-12-01,J,10.0,1043,AMSTERDAM,KZB
1633169,0xA87140077B4C4BA6AE9ECECB52035E07BC136EAC,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2012-12-01,2013-12-01,J,96.0,1043,AMSTERDAM,KZB
1633170,0xF4110347D7671FE913A6959DECB580D941193FB2,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2013-12-01,2014-12-01,J,96.0,1043,AMSTERDAM,KZB
1633171,0x2AAE3BFF514EEAE835A2CA411303B5BA39F67C2C,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2014-12-01,2015-12-31,N,113.0,1043,AMSTERDAM,KZB
1633172,0x007AAD731A00FFECD1B3538C3AB3B97ABE0CF99C,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2015-12-31,2016-07-27,N,147.0,1043,AMSTERDAM,KZB
1633173,0x8DE6CB81DC3B5D6D20B188610D9DA703F1AD07EA,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2016-07-27,2016-07-28,N,0.0,1043,AMSTERDAM,KZB
1633174,0x836D7F06F6FE6A9642C829F95AE831BB4DD41CC7,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2016-07-28,2016-12-01,J,516.0,1043,AMSTERDAM,KZB
1633175,0x06BC4829D1B824E42BBB97E33514687974F49F8B,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2016-12-01,2016-12-15,N,-503.0,1043,AMSTERDAM,KZB
1633176,0xC05E65EFDF56E348A5DD5084BB06BBF4CCC49D2C,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2016-12-15,2017-11-28,N,159.0,1043,AMSTERDAM,KZB
1633177,0x4E5B2C666554E3D763F2B5F5B63E9F4035CFFABB,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2017-11-28,2018-09-17,N,336.0,1043,AMSTERDAM,KZB
1633178,0x57805E4184C4F5FE0C67585BDB82C45F16C2877D,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2018-09-17,2018-12-20,J,14.0,1043,AMSTERDAM,KZB
1633179,0xFE03FEE51E8541180AE2E7892E0E73A811A1ECB4,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2018-12-20,2019-09-16,N,693.0,1043,AMSTERDAM,KZB
1633180,0xBEF1B1A3321AED12447198F810F91D87373C6228,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2019-09-16,2019-09-17,N,0.0,1043,AMSTERDAM,KZB
1633181,0x9F26C23D2FB24C07B550F082E3AFAAFBABB416F1,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2019-09-17,2019-12-01,J,54.0,1043,AMSTERDAM,KZB

In [28]:
#df

In [29]:
#df

In [60]:
df['period'] = df['CONSUMPTION_END_DATE'] - df['CONSUMPTION_START_DATE']
df['period'] = df['period'].dt.days
df['consumption_per_day'] = df['CONSUMPTION'] / df['period']

df1 = pd.concat([pd.Series(r.CONSUMPTION_ID,pd.date_range(r.CONSUMPTION_START_DATE, r.CONSUMPTION_END_DATE, freq='YS')) 
         for r in df.itertuples()]).reset_index()
df1.columns = ['CONSUMPTION_START_DATE','CONSUMPTION_ID']

df2 = (pd.concat([df[['CONSUMPTION_ID','CONSUMPTION_START_DATE']], df1], sort=False, ignore_index=True)
 .sort_values(['CONSUMPTION_ID','CONSUMPTION_START_DATE'])
 .reset_index(drop=True))

mask = df2['CONSUMPTION_ID'].duplicated(keep='last')
s = df2['CONSUMPTION_ID'].map(df.set_index('CONSUMPTION_ID')['CONSUMPTION_END_DATE'])
df2['CONSUMPTION_END_DATE'] = np.where(mask, df2['CONSUMPTION_START_DATE'] + pd.offsets.YearEnd(), s)

df_values = df[['CONSUMPTION_ID','CONSUMPTION_OBJECT_ID','consumption_per_day']]
df_categories = df.drop(['CONSUMPTION_START_DATE','CONSUMPTION_END_DATE','period','CONSUMPTION','consumption_per_day','CONSUMPTION_ID'],axis=1)
df_categories = df_categories.groupby(['CONSUMPTION_OBJECT_ID']).first().reset_index()

consumption_yearly = df2.merge(df_values,on='CONSUMPTION_ID',how='left')
consumption_yearly['days'] = consumption_yearly['CONSUMPTION_END_DATE'] - consumption_yearly['CONSUMPTION_START_DATE']
consumption_yearly['days'] = consumption_yearly['days'].dt.days
consumption_yearly['CONSUMPTION'] = consumption_yearly['days'] * consumption_yearly['consumption_per_day']
consumption_yearly['year'] = consumption_yearly['CONSUMPTION_START_DATE'].dt.year
consumption_yearly.drop(consumption_yearly[consumption_yearly['CONSUMPTION_START_DATE'].dt.year < 2010].index,inplace=True)

In [61]:
consumption_yearly.sort_values(['CONSUMPTION_START_DATE'])

,CONSUMPTION_ID,CONSUMPTION_START_DATE,CONSUMPTION_END_DATE,CONSUMPTION_OBJECT_ID,consumption_per_day,days,CONSUMPTION,year
12,0x78F1B3C363A4E66B07237D05D2913596B90AFE4D,2010-01-01,2010-12-28,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2.464865,361,889.816216,2010
23,0xF6F3AB792F1E2576DC3062ADA94983DBC9F036BD,2010-12-28,2010-12-31,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2.036923,3,6.110769,2010
24,0xF6F3AB792F1E2576DC3062ADA94983DBC9F036BD,2011-01-01,2011-11-18,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2.036923,321,653.852308,2011
9,0x6D656567842B054A721EA5CCDE76C1D8CC9C9D83,2011-11-18,2011-12-31,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,1.063584,43,45.734104,2011
10,0x6D656567842B054A721EA5CCDE76C1D8CC9C9D83,2012-01-01,2012-10-29,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,1.063584,302,321.202312,2012
3,0x1632B9A9D1A06DBB7B325BC77153D4B7B463012B,2012-10-29,2012-12-01,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,0.303030,33,10.000000,2012
16,0xA87140077B4C4BA6AE9ECECB52035E07BC136EAC,2012-12-01,2012-12-31,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,0.263014,30,7.890411,2012
17,0xA87140077B4C4BA6AE9ECECB52035E07BC136EAC,2013-01-01,2013-12-01,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,0.263014,334,87.846575,2013
21,0xF4110347D7671FE913A6959DECB580D941193FB2,2013-12-01,2013-12-31,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,0.263014,30,7.890411,2013
22,0xF4110347D7671FE913A6959DECB580D941193FB2,2014-01-01,2014-12-01,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,0.263014,334,87.846575,2014
4,0x2AAE3BFF514EEAE835A2CA411303B5BA39F67C2C,2014-12-01,2014-12-31,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,0.286076,30,8.582278,2014
5,0x2AAE3BFF514EEAE835A2CA411303B5BA39F67C2C,2015-01-01,2015-12-31,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,0.286076,364,104.131646,2015
0,0x007AAD731A00FFECD1B3538C3AB3B97ABE0CF99C,2015-12-31,2016-12-31,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,0.703349,366,257.425837,2015
1,0x007AAD731A00FFECD1B3538C3AB3B97ABE0CF99C,2016-01-01,2016-07-27,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,0.703349,208,146.296651,2016
14,0x8DE6CB81DC3B5D6D20B188610D9DA703F1AD07EA,2016-07-27,2016-07-28,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,0.000000,1,0.000000,2016
13,0x836D7F06F6FE6A9642C829F95AE831BB4DD41CC7,2016-07-28,2016-12-01,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,4.095238,126,516.000000,2016
2,0x06BC4829D1B824E42BBB97E33514687974F49F8B,2016-12-01,2016-12-15,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,-35.928571,14,-503.000000,2016
19,0xC05E65EFDF56E348A5DD5084BB06BBF4CCC49D2C,2016-12-15,2016-12-31,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,0.456897,16,7.310345,2016
20,0xC05E65EFDF56E348A5DD5084BB06BBF4CCC49D2C,2017-01-01,2017-11-28,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,0.456897,331,151.232759,2017
6,0x4E5B2C666554E3D763F2B5F5B63E9F4035CFFABB,2017-11-28,2017-12-31,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,1.146758,33,37.843003,2017
7,0x4E5B2C666554E3D763F2B5F5B63E9F4035CFFABB,2018-01-01,2018-09-17,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,1.146758,259,297.010239,2018
8,0x57805E4184C4F5FE0C67585BDB82C45F16C2877D,2018-09-17,2018-12-20,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,0.148936,94,14.000000,2018
25,0xFE03FEE51E8541180AE2E7892E0E73A811A1ECB4,2018-12-20,2018-12-31,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2.566667,11,28.233333,2018
26,0xFE03FEE51E8541180AE2E7892E0E73A811A1ECB4,2019-01-01,2019-09-16,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,2.566667,258,662.200000,2019
18,0xBEF1B1A3321AED12447198F810F91D87373C6228,2019-09-16,2019-09-17,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,0.000000,1,0.000000,2019
15,0x9F26C23D2FB24C07B550F082E3AFAAFBABB416F1,2019-09-17,2019-12-01,0x647A1A69C8B52855DC5F0350ECEE37B6F297C906,0.720000,75,54.000000,2019

In [48]:
consumption_yearly[consumption_yearly['CONSUMPTION_START_DATE'].dt.year == consumption_yearly['CONSUMPTION_END_DATE'].dt.year]

,CONSUMPTION_ID,CONSUMPTION_START_DATE,CONSUMPTION_END_DATE,CONSUMPTION_OBJECT_ID,consumption_per_day,days,CONSUMPTION,year
7,0x5C741F46071E1930BD1B433C21334F2971D6FF51,2012-12-31,2013-12-31,0x8349E96BEF28FA1BF55EB82E356B9D28C5A4A0CF,0.333333,365,121.666667,2012

In [40]:
consumption_yearly.sort_values(['CONSUMPTION_START_DATE'])

,CONSUMPTION_ID,CONSUMPTION_START_DATE,CONSUMPTION_END_DATE,CONSUMPTION_OBJECT_ID,consumption_per_day,days,CONSUMPTION,year
1,0x378391D81055E53E56D88B32639EA0F219C3CFC3,2010-01-01,2010-01-01,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.094406,0,0.000000,2010
20,0xF3CF781BD9ACD5B36FB3C2DFA5B9B677A951D008,2010-01-01,2010-07-09,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.000000,189,0.000000,2010
19,0xF3CF781BD9ACD5B36FB3C2DFA5B9B677A951D008,2010-01-01,2010-12-31,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.000000,364,0.000000,2010
23,0xF9D999DC7D0FE8AE60EB52086B43EBF0FDEC06ED,2010-01-01,2010-12-31,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.000000,364,0.000000,2010
24,0xF9D999DC7D0FE8AE60EB52086B43EBF0FDEC06ED,2010-01-01,2010-07-17,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.000000,197,0.000000,2010
12,0x77834BC91D8F1C9FD47636543452C5385CD15318,2010-07-17,2010-08-15,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.482759,29,14.000000,2010
9,0x59EF4731A03A6A11BD401204BEA5E183EEFEA91F,2010-08-15,2010-12-15,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.098361,122,12.000000,2010
17,0xE51602F6AC29981183BECCE0FCD9843E28230B58,2010-12-15,2010-12-31,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.083784,16,1.340541,2010
18,0xE51602F6AC29981183BECCE0FCD9843E28230B58,2011-01-01,2011-12-20,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.083784,353,29.575676,2011
10,0x64F2F1C74AC79BD416A9DB5F3FA80DBAFD7CF65F,2011-12-20,2011-12-31,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.393678,11,4.330460,2011
11,0x64F2F1C74AC79BD416A9DB5F3FA80DBAFD7CF65F,2012-01-01,2012-12-02,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.393678,336,132.275862,2012
21,0xF5C345B2005FEDD643A375B699BAA29B7FE5BFD5,2012-12-02,2012-12-31,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.393531,29,11.412399,2012
22,0xF5C345B2005FEDD643A375B699BAA29B7FE5BFD5,2013-01-01,2013-12-08,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.393531,341,134.194070,2013
13,0x9C5BA4C210D3A6B292A8E78A9FB6524F98288974,2013-12-08,2013-12-31,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.392473,23,9.026882,2013
14,0x9C5BA4C210D3A6B292A8E78A9FB6524F98288974,2014-01-01,2014-12-15,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.392473,348,136.580645,2014
2,0x37CA8155DC2DC6EF2C8AA194A0639B427FDA4630,2014-12-15,2014-12-31,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,-0.723288,16,-11.572603,2014
3,0x37CA8155DC2DC6EF2C8AA194A0639B427FDA4630,2015-01-01,2015-12-15,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,-0.723288,348,-251.704110,2015
4,0x479E8C90C7DB146F5996116BF470684409F6E89E,2015-12-15,2015-12-31,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.104110,16,1.665753,2015
5,0x479E8C90C7DB146F5996116BF470684409F6E89E,2016-01-01,2016-12-14,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.104110,348,36.230137,2016
6,0x4C32727B950B3A624A5F69EFCF9BF4C8C926563E,2016-12-14,2016-12-31,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.106494,17,1.810390,2016
7,0x4C32727B950B3A624A5F69EFCF9BF4C8C926563E,2017-01-01,2017-12-31,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.106494,364,38.763636,2017
8,0x4C32727B950B3A624A5F69EFCF9BF4C8C926563E,2018-01-01,2018-01-03,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.106494,2,0.212987,2018
15,0xE04FE68FE78FF00886682BA50E0D904D0B4A4928,2018-01-03,2018-12-31,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.128415,362,46.486339,2018
16,0xE04FE68FE78FF00886682BA50E0D904D0B4A4928,2019-01-01,2019-01-04,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.128415,3,0.385246,2019

In [52]:
consumption_yearly.sort_values(['CONSUMPTION_START_DATE'])

,CONSUMPTION_ID,CONSUMPTION_START_DATE,CONSUMPTION_END_DATE,CONSUMPTION_OBJECT_ID,consumption_per_day,days,CONSUMPTION,year
19,0x8DABE842BEC6CA21B70E9FCFBCF3DFD94D6C8DBA,2010-01-01,2010-10-18,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.216438,290,62.767123,2010
20,0x8FA4FAD49A38BD1B0FB3BBB00DD0803338204396,2010-10-18,2010-12-31,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.273973,74,20.273973,2010
21,0x8FA4FAD49A38BD1B0FB3BBB00DD0803338204396,2011-01-01,2011-10-18,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.273973,290,79.452055,2011
6,0x5777EDD908744B95FF8D965D172DEC74C9A11A27,2011-10-18,2011-12-31,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.247191,74,18.292135,2011
7,0x5777EDD908744B95FF8D965D172DEC74C9A11A27,2012-01-01,2012-10-08,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.247191,281,69.460674,2012
8,0x57B8F05491AAE9F28774940B0812BDB4BA6CD972,2012-10-08,2012-12-31,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.235616,84,19.791781,2012
9,0x57B8F05491AAE9F28774940B0812BDB4BA6CD972,2013-01-01,2013-10-08,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.235616,280,65.972603,2013
14,0x7F1045C296AA32C2CD5085260C69C1E200DEC8E6,2013-10-08,2013-12-31,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.000000,84,0.000000,2013
15,0x7F1045C296AA32C2CD5085260C69C1E200DEC8E6,2014-01-01,2014-09-26,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.000000,268,0.000000,2014
29,0xF4B8BBC0CFD40A5DF23C4103FAE7EF1116631641,2014-09-26,2014-11-20,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.145455,55,8.000000,2014
12,0x6E0ACA2AFABB9087CA0CC7EBCB467887176D9F5D,2014-11-20,2014-12-31,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,-0.023256,41,-0.953488,2014
13,0x6E0ACA2AFABB9087CA0CC7EBCB467887176D9F5D,2015-01-01,2015-05-11,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,-0.023256,130,-3.023256,2015
25,0xBD32C2EEAD4BED826924FB9D114F0A16FC469F22,2015-05-11,2015-05-19,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.000000,8,0.000000,2015
0,0x276CF3F993E22804E0EC4264430E510DC1714039,2015-05-19,2015-11-12,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.581921,177,103.000000,2015
22,0x921C51B3E31C210B7438E79B65EE825E2902F1F4,2015-11-12,2015-12-31,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,-0.480000,49,-23.520000,2015
23,0x921C51B3E31C210B7438E79B65EE825E2902F1F4,2016-01-01,2016-01-01,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,-0.480000,0,-0.000000,2016
16,0x87ED08A7244F24167905376D4E5F42DA5E847DA7,2016-01-01,2016-12-31,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.413919,365,151.080586,2016
17,0x87ED08A7244F24167905376D4E5F42DA5E847DA7,2016-01-01,2016-09-30,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.413919,273,113.000000,2016
5,0x3250FF449A6D8C1688397377B2B9ABFB34FABE26,2016-09-30,2016-11-17,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.416667,48,20.000000,2016
10,0x6A0C0A59023DAED8EB1B2DF5FFA5523CF8506237,2016-11-17,2016-12-31,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.318182,44,14.000000,2016
1,0x2928EFA05C17F3D9F9BBD2D310F9F322621542A2,2016-12-31,2017-12-31,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.000000,365,0.000000,2016
2,0x2928EFA05C17F3D9F9BBD2D310F9F322621542A2,2017-01-01,2017-01-06,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.000000,5,0.000000,2017
24,0x9AD6E674FA1C3DD28DD91742F9E14C9B9087AB50,2017-01-06,2017-07-03,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.455056,178,81.000000,2017
11,0x6BC56B9C9B6FFEB32EB0D693814DD3FB3176DB2D,2017-07-03,2017-08-20,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.000000,48,0.000000,2017
26,0xD8ED0E5024D6E118B8437AC436351B8E973C54FC,2017-08-20,2017-11-27,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.141414,99,14.000000,2017
3,0x3009817ADCF6EADD84D9C1782EF350EB05077D24,2017-11-27,2017-12-31,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.191304,34,6.504348,2017
4,0x3009817ADCF6EADD84D9C1782EF350EB05077D24,2018-01-01,2018-11-07,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.191304,310,59.304348,2018
27,0xE22B4E8FCA0D44449B1D2E8AC9891D581F04E11D,2018-11-07,2018-12-31,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.243169,54,13.131148,2018
28,0xE22B4E8FCA0D44449B1D2E8AC9891D581F04E11D,2019-01-01,2019-11-08,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,0.243169,311,75.625683,2019

In [17]:
consumption_yearly_grouped = consumption_yearly.groupby(['CONSUMPTION_OBJECT_ID','year']).sum().reset_index()
consumption_yearly_grouped = consumption_yearly_grouped.merge(df_categories, on='CONSUMPTION_OBJECT_ID',how='left')
consumption_yearly_grouped

,CONSUMPTION_OBJECT_ID,year,consumption_per_day,days,CONSUMPTION,CONSUMPTION_ESTRATED_YN,POSTCODE,CITY,OBJECT_TYPE_NAME
0,0xADA599B010878E69FF829012959CE9AA68357255,2010,0.930155,878,164.952398,N,1181,AMSTELVEEN,HHB
1,0xADA599B010878E69FF829012959CE9AA68357255,2011,0.213115,364,77.573770,N,1181,AMSTELVEEN,HHB
2,0xADA599B010878E69FF829012959CE9AA68357255,2012,0.711745,1095,182.000000,N,1181,AMSTELVEEN,HHB
3,0xADA599B010878E69FF829012959CE9AA68357255,2013,0.339726,729,123.835616,N,1181,AMSTELVEEN,HHB
4,0xADA599B010878E69FF829012959CE9AA68357255,2014,0.456145,729,166.317494,N,1181,AMSTELVEEN,HHB
5,0xADA599B010878E69FF829012959CE9AA68357255,2015,0.529493,364,101.698255,N,1181,AMSTELVEEN,HHB
6,0xADA599B010878E69FF829012959CE9AA68357255,2016,0.730980,730,266.807674,N,1181,AMSTELVEEN,HHB
7,0xADA599B010878E69FF829012959CE9AA68357255,2017,0.482289,364,175.553134,N,1181,AMSTELVEEN,HHB
8,0xADA599B010878E69FF829012959CE9AA68357255,2018,0.964481,364,175.517905,N,1181,AMSTELVEEN,HHB
9,0xADA599B010878E69FF829012959CE9AA68357255,2019,0.482192,1,0.482192,N,1181,AMSTELVEEN,HHB

In [41]:
consumption_yearly_grouped = consumption_yearly.groupby(['CONSUMPTION_OBJECT_ID','year']).sum().reset_index()
consumption_yearly_grouped = consumption_yearly_grouped.merge(df_categories, on='CONSUMPTION_OBJECT_ID',how='left')
consumption_yearly_grouped

,CONSUMPTION_OBJECT_ID,year,consumption_per_day,days,CONSUMPTION,CONSUMPTION_ESTRATED_YN,POSTCODE,CITY,OBJECT_TYPE_NAME
0,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2010,0.759309,1281,27.340541,N,1181,AMSTELVEEN,HHB
1,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2011,0.477462,364,33.906135,N,1181,AMSTELVEEN,HHB
2,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2012,0.787209,365,143.688261,N,1181,AMSTELVEEN,HHB
3,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2013,0.786004,364,143.220952,N,1181,AMSTELVEEN,HHB
4,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2014,-0.330815,364,125.008042,N,1181,AMSTELVEEN,HHB
5,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2015,-0.619178,364,-250.038356,N,1181,AMSTELVEEN,HHB
6,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2016,0.210603,365,38.040527,N,1181,AMSTELVEEN,HHB
7,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2017,0.106494,364,38.763636,N,1181,AMSTELVEEN,HHB
8,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2018,0.234909,364,46.699326,N,1181,AMSTELVEEN,HHB
9,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2019,0.128415,3,0.385246,N,1181,AMSTELVEEN,HHB

In [53]:
consumption_yearly_grouped = consumption_yearly.groupby(['CONSUMPTION_OBJECT_ID','year']).sum().reset_index()
consumption_yearly_grouped = consumption_yearly_grouped.merge(df_categories, on='CONSUMPTION_OBJECT_ID',how='left')
consumption_yearly_grouped

,CONSUMPTION_OBJECT_ID,year,consumption_per_day,days,CONSUMPTION,CONSUMPTION_ESTRATED_YN,POSTCODE,CITY,OBJECT_TYPE_NAME
0,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2010,0.490411,364,83.041096,N,1083,AMSTERDAM,HHB
1,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2011,0.521164,364,97.744190,N,1083,AMSTERDAM,HHB
2,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2012,0.482807,365,89.252455,N,1083,AMSTERDAM,HHB
3,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2013,0.235616,364,65.972603,N,1083,AMSTERDAM,HHB
4,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2014,0.122199,364,7.046512,N,1083,AMSTERDAM,HHB
5,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2015,0.078665,364,76.456744,N,1083,AMSTERDAM,HHB
6,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2016,1.082687,1095,298.080586,N,1083,AMSTERDAM,HHB
7,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2017,0.787775,364,101.504348,N,1083,AMSTERDAM,HHB
8,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2018,0.434474,364,72.435495,N,1083,AMSTERDAM,HHB
9,0xDB167AEA8E65359DE2F24606950E29E68C380ED8,2019,0.243169,311,75.625683,N,1083,AMSTERDAM,HHB