In [2]:
import pandas as pd
import numpy as np

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
df = pd.read_csv("../pipeline_data/Export_Verbruik_2010-2019_anon.csv")

df.drop(['Unnamed: 0'],axis=1,inplace=True)

columns_eng = ["CONSUMPTION_ID","CONSUMPTION_OBJECT_ID","CONSUMPTION_START_DATE",
               "CONSUMPTION_END_DATE","CONSUMPTION_ESTRATED_YN","CONSUMPTION","POSTCODE","CITY","OBJECT_TYPE_NAME"]

df.columns = columns_eng

In [4]:
df_test = df[df.CONSUMPTION_ID == '0x6C416AE66696A91A697B0BCDE57A92D0C215F031']

In [19]:
df_test

,CONSUMPTION_ID,CONSUMPTION_OBJECT_ID,CONSUMPTION_START_DATE,CONSUMPTION_END_DATE,CONSUMPTION_ESTRATED_YN,CONSUMPTION,POSTCODE,CITY,OBJECT_TYPE_NAME,period,consumption_per_day
2288552,0x6C416AE66696A91A697B0BCDE57A92D0C215F031,0x00007D66B6B07398948077754DB6EFA778CE11ED,2018-01-01,2018-12-05,N,170.0,1092,AMSTERDAM,HHB,338,0.502959

In [20]:
df = df_test
df['CONSUMPTION_START_DATE'] = df['CONSUMPTION_START_DATE'].apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d'))
df['CONSUMPTION_END_DATE'] = df['CONSUMPTION_END_DATE'].apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d'))

In [21]:
df['period'] = df['CONSUMPTION_END_DATE'] - df['CONSUMPTION_START_DATE']
df['period'] = df['period'].dt.days
df['consumption_per_day'] = df['CONSUMPTION'] / df['period']

In [30]:
df1 = pd.concat([pd.Series(r.CONSUMPTION_ID,pd.date_range(r.CONSUMPTION_START_DATE, r.CONSUMPTION_END_DATE, freq='YS'))for r in df.itertuples()]).reset_index()
df1.columns = ['CONSUMPTION_START_DATE','CONSUMPTION_ID']

In [35]:
pd.date_range(df.iloc[0].CONSUMPTION_START_DATE, df.iloc[0].CONSUMPTION_END_DATE, freq='YS')

DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq='AS-JAN')

In [32]:
df

,CONSUMPTION_ID,CONSUMPTION_OBJECT_ID,CONSUMPTION_START_DATE,CONSUMPTION_END_DATE,CONSUMPTION_ESTRATED_YN,CONSUMPTION,POSTCODE,CITY,OBJECT_TYPE_NAME,period,consumption_per_day
2288552,0x6C416AE66696A91A697B0BCDE57A92D0C215F031,0x00007D66B6B07398948077754DB6EFA778CE11ED,2018-01-01,2018-12-05,N,170.0,1092,AMSTERDAM,HHB,338,0.502959

In [31]:
df1

  CONSUMPTION_START_DATE                              CONSUMPTION_ID
0             2018-01-01  0x6C416AE66696A91A697B0BCDE57A92D0C215F031

In [24]:
df2 = (pd.concat([df[['CONSUMPTION_ID','CONSUMPTION_START_DATE']], df1], sort=False, ignore_index=True)
 .sort_values(['CONSUMPTION_ID','CONSUMPTION_START_DATE'])
 .reset_index(drop=True))

In [26]:
df[['CONSUMPTION_ID','CONSUMPTION_START_DATE']]

                                     CONSUMPTION_ID CONSUMPTION_START_DATE
2288552  0x6C416AE66696A91A697B0BCDE57A92D0C215F031             2018-01-01

In [27]:
df1

  CONSUMPTION_START_DATE                              CONSUMPTION_ID
0             2018-01-01  0x6C416AE66696A91A697B0BCDE57A92D0C215F031

In [25]:
df2

                               CONSUMPTION_ID CONSUMPTION_START_DATE
0  0x6C416AE66696A91A697B0BCDE57A92D0C215F031             2018-01-01
1  0x6C416AE66696A91A697B0BCDE57A92D0C215F031             2018-01-01

In [15]:
mask = df2['CONSUMPTION_ID'].duplicated(keep='last')
s = df2['CONSUMPTION_ID'].map(df.set_index('CONSUMPTION_ID')['CONSUMPTION_END_DATE'])
df2['CONSUMPTION_END_DATE'] = np.where(mask, df2['CONSUMPTION_START_DATE'] + pd.offsets.YearEnd(), s)

In [16]:
df2

,CONSUMPTION_ID,CONSUMPTION_START_DATE,CONSUMPTION_END_DATE
0,0x6C416AE66696A91A697B0BCDE57A92D0C215F031,2018-01-01,2018-12-31
1,0x6C416AE66696A91A697B0BCDE57A92D0C215F031,2018-01-01,2018-12-05

In [17]:
df_values = df[['CONSUMPTION_ID','CONSUMPTION_OBJECT_ID','consumption_per_day']]
df_categories = df.drop(['CONSUMPTION_START_DATE','CONSUMPTION_END_DATE','period','CONSUMPTION','consumption_per_day','CONSUMPTION_ID'],axis=1)
df_categories = df_categories.groupby(['CONSUMPTION_OBJECT_ID']).first().reset_index()

consumption_yearly = df2.merge(df_values,on='CONSUMPTION_ID',how='left')
consumption_yearly['days'] = consumption_yearly['CONSUMPTION_END_DATE'] - consumption_yearly['CONSUMPTION_START_DATE']
consumption_yearly['days'] = consumption_yearly['days'].dt.days
consumption_yearly['CONSUMPTION'] = consumption_yearly['days'] * consumption_yearly['consumption_per_day']
consumption_yearly['year'] = consumption_yearly['CONSUMPTION_START_DATE'].dt.year
consumption_yearly.drop(consumption_yearly[consumption_yearly['CONSUMPTION_START_DATE'].dt.year < 2010].index,inplace=True)

In [18]:
consumption_yearly

,CONSUMPTION_ID,CONSUMPTION_START_DATE,CONSUMPTION_END_DATE,CONSUMPTION_OBJECT_ID,consumption_per_day,days,CONSUMPTION,year
0,0x6C416AE66696A91A697B0BCDE57A92D0C215F031,2018-01-01,2018-12-31,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.502959,364,183.076923,2018
1,0x6C416AE66696A91A697B0BCDE57A92D0C215F031,2018-01-01,2018-12-05,0x00007D66B6B07398948077754DB6EFA778CE11ED,0.502959,338,170.000000,2018

In [ ]:
consumption_yearly_grouped = consumption_yearly.groupby(['CONSUMPTION_OBJECT_ID','year']).sum().reset_index()
consumption_yearly_grouped = consumption_yearly_grouped.merge(df_categories, on='CONSUMPTION_OBJECT_ID',how='left')
consumption_yearly_grouped