In [2]:
import pandas as pd
import numpy as np

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [34]:
df = pd.read_csv("../pipeline_data/Export_Verbruik_2010-2019_anon.csv")

df.drop(['Unnamed: 0'],axis=1,inplace=True)

columns_eng = ["CONSUMPTION_ID","CONSUMPTION_OBJECT_ID","CONSUMPTION_START_DATE",
               "CONSUMPTION_END_DATE","CONSUMPTION_ESTRATED_YN","CONSUMPTION","POSTCODE","CITY","OBJECT_TYPE_NAME"]

df.columns = columns_eng

In [36]:
df_test = df[df.CONSUMPTION_OBJECT_ID == '0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C']

In [37]:
df_test

,CONSUMPTION_ID,CONSUMPTION_OBJECT_ID,CONSUMPTION_START_DATE,CONSUMPTION_END_DATE,CONSUMPTION_ESTRATED_YN,CONSUMPTION,POSTCODE,CITY,OBJECT_TYPE_NAME
3695651,0x378391D81055E53E56D88B32639EA0F219C3CFC3,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2009-03-21,2010-01-01,N,27.0,1181,AMSTELVEEN,NaN
3695652,0xF3CF781BD9ACD5B36FB3C2DFA5B9B677A951D008,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2010-01-01,2010-07-09,N,0.0,1181,AMSTELVEEN,NaN
3695653,0xF9D999DC7D0FE8AE60EB52086B43EBF0FDEC06ED,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2010-01-01,2010-07-17,N,0.0,1181,AMSTELVEEN,HHB
3695654,0x77834BC91D8F1C9FD47636543452C5385CD15318,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2010-07-17,2010-08-15,J,14.0,1181,AMSTELVEEN,HHB
3695655,0x59EF4731A03A6A11BD401204BEA5E183EEFEA91F,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2010-08-15,2010-12-15,N,12.0,1181,AMSTELVEEN,HHB
3695656,0xE51602F6AC29981183BECCE0FCD9843E28230B58,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2010-12-15,2011-12-20,N,31.0,1181,AMSTELVEEN,HHB
3695657,0x64F2F1C74AC79BD416A9DB5F3FA80DBAFD7CF65F,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2011-12-20,2012-12-02,N,137.0,1181,AMSTELVEEN,HHB
3695658,0xF5C345B2005FEDD643A375B699BAA29B7FE5BFD5,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2012-12-02,2013-12-08,J,146.0,1181,AMSTELVEEN,HHB
3695659,0x9C5BA4C210D3A6B292A8E78A9FB6524F98288974,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2013-12-08,2014-12-15,J,146.0,1181,AMSTELVEEN,HHB
3695660,0x37CA8155DC2DC6EF2C8AA194A0639B427FDA4630,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2014-12-15,2015-12-15,N,-264.0,1181,AMSTELVEEN,HHB
3695661,0x479E8C90C7DB146F5996116BF470684409F6E89E,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2015-12-15,2016-12-14,N,38.0,1181,AMSTELVEEN,HHB
3695662,0x4C32727B950B3A624A5F69EFCF9BF4C8C926563E,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2016-12-14,2018-01-03,N,41.0,1181,AMSTELVEEN,HHB
3695663,0xE04FE68FE78FF00886682BA50E0D904D0B4A4928,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2018-01-03,2019-01-04,N,47.0,1181,AMSTELVEEN,HHB

In [91]:
df[(df['CONSUMPTION_START_DATE'].dt.year == 2010)|(df['CONSUMPTION_END_DATE'].dt.year == 2010)]

,CONSUMPTION_ID,CONSUMPTION_OBJECT_ID,CONSUMPTION_START_DATE,CONSUMPTION_END_DATE,CONSUMPTION_ESTRATED_YN,CONSUMPTION,POSTCODE,CITY,OBJECT_TYPE_NAME,period,consumption_per_day
3695651,0x378391D81055E53E56D88B32639EA0F219C3CFC3,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2009-03-21,2010-01-01,N,27.0,1181,AMSTELVEEN,NaN,286,0.094406
3695652,0xF3CF781BD9ACD5B36FB3C2DFA5B9B677A951D008,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2010-01-01,2010-07-09,N,0.0,1181,AMSTELVEEN,NaN,189,0.000000
3695653,0xF9D999DC7D0FE8AE60EB52086B43EBF0FDEC06ED,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2010-01-01,2010-07-17,N,0.0,1181,AMSTELVEEN,HHB,197,0.000000
3695654,0x77834BC91D8F1C9FD47636543452C5385CD15318,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2010-07-17,2010-08-15,J,14.0,1181,AMSTELVEEN,HHB,29,0.482759
3695655,0x59EF4731A03A6A11BD401204BEA5E183EEFEA91F,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2010-08-15,2010-12-15,N,12.0,1181,AMSTELVEEN,HHB,122,0.098361
3695656,0xE51602F6AC29981183BECCE0FCD9843E28230B58,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2010-12-15,2011-12-20,N,31.0,1181,AMSTELVEEN,HHB,370,0.083784

In [38]:
df = df_test
df['CONSUMPTION_START_DATE'] = df['CONSUMPTION_START_DATE'].apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d'))
df['CONSUMPTION_END_DATE'] = df['CONSUMPTION_END_DATE'].apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d'))

In [39]:
df['period'] = df['CONSUMPTION_END_DATE'] - df['CONSUMPTION_START_DATE']
df['period'] = df['period'].dt.days
df['consumption_per_day'] = df['CONSUMPTION'] / df['period']

In [77]:
df1 = pd.concat([pd.Series(r.CONSUMPTION_ID,pd.date_range(r.CONSUMPTION_START_DATE, r.CONSUMPTION_END_DATE, freq='YS')) for r in df.itertuples()]).reset_index()
df1.columns = ['CONSUMPTION_START_DATE','CONSUMPTION_ID']

In [58]:
pd.date_range(df.iloc[0].CONSUMPTION_START_DATE, df.iloc[0].CONSUMPTION_END_DATE, freq='YS')#,closed='left')

DatetimeIndex(['2010-01-01'], dtype='datetime64[ns]', freq='AS-JAN')

In [41]:
pd.date_range(df.iloc[1].CONSUMPTION_START_DATE, df.iloc[1].CONSUMPTION_END_DATE, freq='YS')

DatetimeIndex(['2010-01-01'], dtype='datetime64[ns]', freq='AS-JAN')

In [42]:
pd.date_range(df.iloc[2].CONSUMPTION_START_DATE, df.iloc[2].CONSUMPTION_END_DATE, freq='YS')

DatetimeIndex(['2010-01-01'], dtype='datetime64[ns]', freq='AS-JAN')

In [43]:
pd.date_range(df.iloc[3].CONSUMPTION_START_DATE, df.iloc[3].CONSUMPTION_END_DATE, freq='YS')

DatetimeIndex([], dtype='datetime64[ns]', freq='AS-JAN')

In [47]:
pd.date_range(df.iloc[4].CONSUMPTION_START_DATE, df.iloc[4].CONSUMPTION_END_DATE, freq='YS')

DatetimeIndex([], dtype='datetime64[ns]', freq='AS-JAN')

In [48]:
pd.date_range(df.iloc[5].CONSUMPTION_START_DATE, df.iloc[5].CONSUMPTION_END_DATE, freq='YS')

DatetimeIndex(['2011-01-01'], dtype='datetime64[ns]', freq='AS-JAN')

In [50]:
df1

   CONSUMPTION_START_DATE                              CONSUMPTION_ID
0              2010-01-01  0x378391D81055E53E56D88B32639EA0F219C3CFC3
1              2010-01-01  0xF3CF781BD9ACD5B36FB3C2DFA5B9B677A951D008
2              2010-01-01  0xF9D999DC7D0FE8AE60EB52086B43EBF0FDEC06ED
3              2011-01-01  0xE51602F6AC29981183BECCE0FCD9843E28230B58
4              2012-01-01  0x64F2F1C74AC79BD416A9DB5F3FA80DBAFD7CF65F
5              2013-01-01  0xF5C345B2005FEDD643A375B699BAA29B7FE5BFD5
6              2014-01-01  0x9C5BA4C210D3A6B292A8E78A9FB6524F98288974
7              2015-01-01  0x37CA8155DC2DC6EF2C8AA194A0639B427FDA4630
8              2016-01-01  0x479E8C90C7DB146F5996116BF470684409F6E89E
9              2017-01-01  0x4C32727B950B3A624A5F69EFCF9BF4C8C926563E
10             2018-01-01  0x4C32727B950B3A624A5F69EFCF9BF4C8C926563E
11             2019-01-01  0xE04FE68FE78FF00886682BA50E0D904D0B4A4928

In [78]:
df2 = (pd.concat([df[['CONSUMPTION_ID','CONSUMPTION_START_DATE']], df1], sort=False, ignore_index=True)
 .sort_values(['CONSUMPTION_ID','CONSUMPTION_START_DATE'])
 .reset_index(drop=True))

In [63]:
#df[['CONSUMPTION_ID','CONSUMPTION_START_DATE']]

In [79]:
df2.drop_duplicates(inplace=True)

In [80]:
mask = df2['CONSUMPTION_ID'].duplicated(keep='last')
s = df2['CONSUMPTION_ID'].map(df.set_index('CONSUMPTION_ID')['CONSUMPTION_END_DATE'])
df2['CONSUMPTION_END_DATE'] = np.where(mask, df2['CONSUMPTION_START_DATE'] + pd.offsets.YearEnd(), s)

In [65]:
#df2

In [81]:
df_values = df[['CONSUMPTION_ID','CONSUMPTION_OBJECT_ID','consumption_per_day']]
df_categories = df.drop(['CONSUMPTION_START_DATE','CONSUMPTION_END_DATE','period','CONSUMPTION','consumption_per_day','CONSUMPTION_ID'],axis=1)
df_categories = df_categories.groupby(['CONSUMPTION_OBJECT_ID']).first().reset_index()

consumption_yearly = df2.merge(df_values,on='CONSUMPTION_ID',how='left')
consumption_yearly['days'] = consumption_yearly['CONSUMPTION_END_DATE'] - consumption_yearly['CONSUMPTION_START_DATE']
consumption_yearly['days'] = consumption_yearly['days'].dt.days
consumption_yearly['CONSUMPTION'] = consumption_yearly['days'] * consumption_yearly['consumption_per_day']
consumption_yearly['year'] = consumption_yearly['CONSUMPTION_START_DATE'].dt.year
consumption_yearly.drop(consumption_yearly[consumption_yearly['CONSUMPTION_START_DATE'].dt.year < 2010].index,inplace=True)

In [88]:
consumption_yearly[consumption_yearly['CONSUMPTION_START_DATE'].dt.year == 2010]

,CONSUMPTION_ID,CONSUMPTION_START_DATE,CONSUMPTION_END_DATE,CONSUMPTION_OBJECT_ID,consumption_per_day,days,CONSUMPTION,year
1,0x378391D81055E53E56D88B32639EA0F219C3CFC3,2010-01-01,2010-01-01,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.094406,0,0.000000,2010
9,0x59EF4731A03A6A11BD401204BEA5E183EEFEA91F,2010-08-15,2010-12-15,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.098361,122,12.000000,2010
12,0x77834BC91D8F1C9FD47636543452C5385CD15318,2010-07-17,2010-08-15,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.482759,29,14.000000,2010
17,0xE51602F6AC29981183BECCE0FCD9843E28230B58,2010-12-15,2010-12-31,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.083784,16,1.340541,2010
19,0xF3CF781BD9ACD5B36FB3C2DFA5B9B677A951D008,2010-01-01,2010-07-09,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.000000,189,0.000000,2010
22,0xF9D999DC7D0FE8AE60EB52086B43EBF0FDEC06ED,2010-01-01,2010-07-17,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,0.000000,197,0.000000,2010

In [83]:
consumption_yearly_grouped = consumption_yearly.groupby(['CONSUMPTION_OBJECT_ID','year']).sum().reset_index()
consumption_yearly_grouped = consumption_yearly_grouped.merge(df_categories, on='CONSUMPTION_OBJECT_ID',how='left')
consumption_yearly_grouped

,CONSUMPTION_OBJECT_ID,year,consumption_per_day,days,CONSUMPTION,CONSUMPTION_ESTRATED_YN,POSTCODE,CITY,OBJECT_TYPE_NAME
0,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2010,0.759309,553,27.340541,N,1181,AMSTELVEEN,HHB
1,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2011,0.477462,364,33.906135,N,1181,AMSTELVEEN,HHB
2,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2012,0.787209,365,143.688261,N,1181,AMSTELVEEN,HHB
3,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2013,0.786004,364,143.220952,N,1181,AMSTELVEEN,HHB
4,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2014,-0.330815,364,125.008042,N,1181,AMSTELVEEN,HHB
5,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2015,-0.619178,364,-250.038356,N,1181,AMSTELVEEN,HHB
6,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2016,0.210603,365,38.040527,N,1181,AMSTELVEEN,HHB
7,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2017,0.106494,364,38.763636,N,1181,AMSTELVEEN,HHB
8,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2018,0.234909,364,46.699326,N,1181,AMSTELVEEN,HHB
9,0x8AC657B831ED7B8BB1E10FEA529A9B218E1AB26C,2019,0.128415,3,0.385246,N,1181,AMSTELVEEN,HHB